<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

	 
	 
    <bean id="taskServiceF" class="com.nttdata.mobilecheckin.service.impl.TaskServiceFactoryLoader">
	  <property name="taskService" ref="taskService"></property>
	</bean>
	 
	
	<bean class="com.nttdata.mobilecheckin.ws.rest.TaskWebservice">
		<property name="taskServiceF" ref="taskServiceF"></property>
	</bean>  
   
   <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/mobilecheckin"/>
      <property name="username" value="root"/>
      <property name="password" value="t123456"/>
   </bean>

 
   <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
 
	<bean id="taskService" class="com.nttdata.mobilecheckin.service.impl.TaskServiceImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	
	<bean id="runMeTask" class="com.nttdata.mobilecheckin.schedule.RunMeTask" />

	<!-- Spring Quartz -->
	<bean name="runMeJob" class="org.springframework.scheduling.quartz.JobDetailBean">

		<property name="jobClass" value="com.nttdata.mobilecheckin.schedule.RunMeJob" />

		<property name="jobDataAsMap">
			<map>
				<entry key="runMeTask" value-ref="runMeTask" />
			</map>
		</property>

	</bean>

	<!-- <bean id="runMeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject" ref="runMeTask" /> <property name="targetMethod" 
		value="printMe" /> </bean> -->

	<!-- Simple Trigger, run every 5 seconds -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">

		<property name="jobDetail" ref="runMeJob" />
		<property name="repeatInterval" value="5000" />
		<property name="startDelay" value="1000" />

	</bean>

	<!-- Cron Trigger, run every 5 seconds -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">

		<property name="jobDetail" ref="runMeJob" />
		<property name="cronExpression" value="0/5 * * * * ?" />

	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="runMeJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
	   
</beans>