<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
	<display-name>Restful Web Application</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
	</context-param>
	<context-param>
	        <param-name>resteasy.scan.resources</param-name>
	        <param-value>false</param-value>
	</context-param>
	<context-param>
	        <param-name>resteasy.scan.providers</param-name>
	        <param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
        <filter-name>continuation</filter-name>
        <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>continuation</filter-name>
        <url-pattern>/cometd/*</url-pattern>
    </filter-mapping>
	
	<servlet>
		<servlet-name>webservice</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.cloud.config.WSRegister</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webservice</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
<!-- 	 <servlet-mapping> -->
<!--         <servlet-name>javax.ws.rs.core.Application</servlet-name> -->
<!--         <url-pattern>/hello/*</url-pattern> -->
<!--     </servlet-mapping> -->
 <!-- Cometd Servlet -->
 
     <servlet>
        <servlet-name>initializer</servlet-name>
        <servlet-class>com.cloud.admin.cometd.Initializer</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>cometd</servlet-name>
        <servlet-class>org.cometd.annotation.AnnotationCometdServlet</servlet-class>
        <init-param>
            <param-name>timeout</param-name>
            <param-value>20000</param-value>
        </init-param>
        <init-param>
            <param-name>interval</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>maxInterval</param-name>
            <param-value>10000</param-value>
        </init-param>
        <init-param>
            <param-name>maxLazyTimeout</param-name>
            <param-value>5000</param-value>
        </init-param>
        <init-param>
            <param-name>long-polling.multiSessionInterval</param-name>
            <param-value>2000</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>transports</param-name>
            <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
        </init-param>
        <init-param>
            <param-name>services</param-name>
             <param-value>com.cloud.admin.cometd.ChatService</param-value>
<!--             <param-value>com.cloud.admin.cometd.ChatService, com.cloud.admin.cometd.StockPriceService</param-value> -->
        </init-param>
<!--          <init-param> -->
<!--             <param-name>services</param-name> -->
<!--             <param-value>com.cloud.admin.cometd.StockPriceService</param-value> -->
<!--         </init-param> -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cometd</servlet-name>
        <url-pattern>/cometd/*</url-pattern>
    </servlet-mapping>
   
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>task.html</welcome-file>
    <welcome-file>upload.html</welcome-file>
  </welcome-file-list>
  <session-config>
        <session-timeout>
            30
        </session-timeout>
  </session-config>
</web-app>