<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

  <display-name>Counter Web Application</display-name>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.eot</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.svg</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.json</url-pattern>
</servlet-mapping>
<!-- <servlet-mapping> -->
<!--     <servlet-name>default</servlet-name> -->
<!--     <url-pattern>/cometd/*</url-pattern> -->
<!-- </servlet-mapping> -->
 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Map the REST Servlet to /rest/ -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>RestService</servlet-name> -->
<!-- 		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>com.sun.jersey.config.property.packages</param-name> -->
<!-- 			<param-value>com.mobilecheckin.rest</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->

<!-- 	<filter> -->
<!-- 		<filter-name>CORS</filter-name> -->
<!-- 		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>cors.allowOrigin</param-name> -->
<!-- 			<param-value>*</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>cors.supportedHeaders</param-name> -->
<!-- 			<param-value>origin, content-type, accept</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>cors.allowGenericHttpRequests</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>cors.supportedMethods</param-name> -->
<!-- 			<param-value>GET, POST, HEAD, PUT, DELETE</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>CORS</filter-name> -->
<!-- 		<url-pattern>/cometd/*</url-pattern> -->
<!-- 	</filter-mapping> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>RestService</servlet-name> -->
<!-- 		<url-pattern>/rest/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- Apply Spring Security Filter to all Requests -->
<!-- 	<filter> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/rest/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	
    <filter>
        <filter-name>continuation</filter-name>
        <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>continuation</filter-name>
        <url-pattern>/cometd/*</url-pattern>
    </filter-mapping>

    <!-- Cometd Servlet -->
     <servlet>
        <servlet-name>initializer</servlet-name>
        <servlet-class>com.cloud.admin.cometd.Initializer</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>cometd</servlet-name>
        <servlet-class>org.cometd.annotation.AnnotationCometdServlet</servlet-class>
        <init-param>
            <param-name>timeout</param-name>
            <param-value>20000</param-value>
        </init-param>
        <init-param>
            <param-name>interval</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>maxInterval</param-name>
            <param-value>10000</param-value>
        </init-param>
        <init-param>
            <param-name>maxLazyTimeout</param-name>
            <param-value>5000</param-value>
        </init-param>
        <init-param>
            <param-name>long-polling.multiSessionInterval</param-name>
            <param-value>2000</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>transports</param-name>
            <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
        </init-param>
        <init-param>
            <param-name>services</param-name>
             <param-value>com.cloud.admin.cometd.ChatService</param-value>
<!--             <param-value>com.cloud.admin.cometd.ChatService, com.cloud.admin.cometd.StockPriceService</param-value> -->
        </init-param>
<!--          <init-param> -->
<!--             <param-name>services</param-name> -->
<!--             <param-value>com.cloud.admin.cometd.StockPriceService</param-value> -->
<!--         </init-param> -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cometd</servlet-name>
        <url-pattern>/cometd/*</url-pattern>
    </servlet-mapping>
   
  
<!--   <welcome-file-list> -->
<!--     <welcome-file>pages/index.html</welcome-file> -->
<!--   </welcome-file-list> -->
</web-app>

